form#fire_chat_form {
	display: block;
	input,textarea {
		@extend .form-control;
		margin: 10px 0;
	}
	textarea {
		height: 150px;
	}
	input[type="submit"] {
		@extend .btn;
		@extend .btn-primary;
		font-size: 2em;
		height: auto;
		line-height: normal;
		text-transform: uppercase;
	}
	
}
#fire_chat_messages {
	border: 1px solid #000;
	height: 200px;
	overflow: auto;
	padding: 10px;
	article {
		margin: 0 0 10px 0;
	}
}

.chat_false {
	form#fire_chat_form { display: none; }
}