/** WordPress Floats **/
.alignright {
    float: right;
    margin: 10px 0 10px 10px;
}

.alignleft {
    float: left;
    margin: 10px 10px 10px 0;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.wp-caption {
    max-width: 100% !important;
    img {
        max-width: 100% !important;
    }
}