body {
	padding: 0;
	margin: 0;
	@media screen and (min-width: $screen-lg-min) {
		padding-top: 65px;
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
}
header,
footer { 
	background: $red;
	position: relative;
	.container { position: relative; }
}

header {
	box-shadow: 0 5px 2px rgba( 0,0,0,0.25 );
	height: auto;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	top: 0;
	z-index: 10000;
	@media screen and (min-width: $screen-lg-min) {
		height: 65px;
		margin: 0;
		position: fixed;
	}
}

#l_shape {
	background: $red;
	height: 200vh;
	left: 0px;
	overflow: hidden;
	position: absolute;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	top: -30vh;
	width: 100%;
	
	&:before {
		background: $cream;
		content: '';
		display: block;
		height: 40%;
		position: absolute;
		right: -1px;
		top: -1px;
		width: 50%;
	}
	
	.kardashians {
		color: white;
		margin-top: 30vh;
		text-align: center;
		width: 50%;
		strong,span{ display: block; }
		strong {
			font-size: 3em;
			font-weight: 700;
		}
		span {
			font-size: 2em;
		}
		
		&.sometimes {
			color: red;
			margin: 0;
			top: 50vh;
			position: absolute;
			right: 36%;
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			width: auto;
			span {
				font-size: 1.25em;
			}
		}
	}	
}

img.people_img {
	bottom: -10px;
	display: block;
	left: 0;
	margin: 0 auto;
	opacity: .15;
	position: fixed;
	right: 0;
	max-width: 70vw;
	z-index: -1;
}

// Sidebar
ul.sidebar {
	list-style: none;
	margin: 0;
	padding: 0 0 20px 0;
	li {
		display: block;
		h4 {
			background: #d0443c  none repeat scroll 0 0;
			border-radius: 5px;
			color: #fff;
			padding: 5px 0 5px 10px;
		}
		a {
			border: 1px solid transparent;
			display: block;
			font-size: 1.25em;
			padding: 2px 10px;
			&.synved-social-button {
				display: inline-block;
				margin: 0 5px 0 0;
			}
			&:hover {
				border-color: $red;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li ul { margin: 0 0 0 20px; }
		}
		&.current-menu-item {
			a {
				border-color: $red;
			}
		}
	}
}

@media screen and (max-width: $screen-lg-min) {
	
	#l_shape {
		transform: rotate( -10deg );
		-webkit-transform: rotate( -10deg );
		.kardashians {
			padding-top: 40px;
			strong { font-size: 2.5em; }
			span { font-size: 1.5em; }
			&.sometimes { right: 32%; }
		}
	}
	
}
@media screen and (max-width: $screen-md-min) {
	
	#l_shape {
		transform: rotate( 0deg );
		-webkit-transform: rotate( 0deg );
		.kardashians {
			padding-top: 100px;
			strong { font-size: 2em; }
			span { font-size: 1em; }
			&.sometimes { right: 22%; top: 45vh; }
		}
	}
	
}
@media screen and (max-width: $screen-sm-min) {

	body.home { 
		background: $red;
	}
	#l_shape { 
		background: none;
		position: relative;
		transform: none;
		-webkit-transform: none;
		&:before { display: none; }
		.kardashians {
			width: auto;
			&.sometimes {
				color: white;
				right: 0;
			}
		}
	}
	
}

#give-payment-mode-select {
	display:none;
}