body {
	a {
		&:hover {
			text-decoration: none;
		}
	}
	&.home {
		header {
			background: none;
		}
	}
}
header,
footer { 
	background: $red;
	position: relative;
	.container { position: relative; }
}

#l_shape {
	background: $red;
	height: 200vh;
	left: 0px;
	overflow: hidden;
	position: absolute;
	transform: rotate(-20deg);
	top: -30vh;
	width: 100%;
	
	&:before {
		background: $cream;
		content: '';
		display: block;
		height: 40%;
		position: absolute;
		right: -1px;
		top: -1px;
		width: 50%;
	}
	
	.kardashians {
		color: white;
		margin-top: 30vh;
		text-align: center;
		width: 50%;
		strong,span{ display: block; }
		strong {
			font-size: 3em;
			font-weight: 700;
		}
		span {
			font-size: 2em;
		}
		
		&.sometimes {
			color: red;
			margin: 0;
			top: 50vh;
			position: absolute;
			right: 36%;
			transform: rotate(90deg);
			width: auto;
			span {
				font-size: 1.25em;
			}
		}
	}	
}

img.people_img {
	bottom: -10px;
	display: block;
	left: 0;
	margin: 0 auto;
	opacity: .5;
	position: fixed;
	right: 0;
	max-width: 70vw;
	z-index: 0;
}

// Sidebar
ul.sidebar {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: block;
		h4 {
			background: $red;
			color: white;
			padding:5px 0 5px 10px;
		}
		a {
			display: block;
			font-size: 1.25em;
		}
		ul {
			margin: 0;
			padding: 0;
			li ul { margin: 0 0 0 20px; }
		}
	}
}

@media screen and (max-width: $screen-lg-min) {
	
	#l_shape {
		transform: rotate( -10deg );
		.kardashians {
			padding-top: 40px;
			strong { font-size: 2.5em; }
			span { font-size: 1.5em; }
			&.sometimes { right: 32%; }
		}
	}
	
}
@media screen and (max-width: $screen-md-min) {
	
	#l_shape {
		transform: rotate( 0deg );
		.kardashians {
			padding-top: 100px;
			strong { font-size: 2em; }
			span { font-size: 1em; }
			&.sometimes { right: 22%; top: 45vh; }
		}
	}
	
}
@media screen and (max-width: $screen-sm-min) {

	body.home { 
		background: $red;
	}
	#l_shape { 
		background: none;
		position: relative;
		transform: none;
		&:before { display: none; }
		.kardashians {
			width: auto;
			&.sometimes {
				color: white;
				right: 0;
			}
		}
	}
	
}