#home_content {
	margin-top: 40vh;
	position: relative;
	z-index: 10;
	
	h3 {
		color: white;
		margin: 0 0 5px 0;
	}
	h2 {
		color: white;
		margin: 0;
		a {
			color: $yellow;
			display: block;
			font-size: 0.9em;
		}
	}
	.meta {
		color: white;
		display: block;
		font-size: 1.25em;
		font-weight: 700;
		text-align: right;
		text-transform: uppercase;
	}
	.past_podcasts {
		margin-top: 10px;
		a {
			color: $yellow;
			display: inline-block;
			font-size: 1.5em;
			padding: 5px;
			text-transform: uppercase;
		}
	}
}

body.page.home {
	header {
		margin-bottom: 0;
	}
	.home-top {
		background: $cream;
		margin-bottom: 20px;
		.logo {
			img {
				max-height: 300px ;
			}
		}
	}
}

@media screen and (max-width: $screen-lg-min) {

	
}
@media screen and (max-width: $screen-md-min) {
	
	body.page.home {
		overflow: auto;
	}
	
}
@media screen and (max-width: $screen-sm-min) {

	body.page.home { 
		#home_content {
			margin-top: 10px;
		}
	}
	img.people_img {
		display: none; }
	
}