body.page,
body.single,
body.archive {
	background: white;
	header {
		margin-bottom: 40px;
	}
}
div.content {
	padding-bottom: 20px;
	h2.page_title { 
		border-bottom: 1px solid $red;
		color: $red;
		margin-top: 0;
		padding-bottom: 10px;
	}
	p {
		font-size: 1.25em;
		margin: 10px 0;
	}
	.crowd_in_podcast {
		border-bottom: 2px solid $red;
		border-left: none;
		border-right: none;
		margin: 10px 0;
		padding: 0 0 15px 0;
		strong {
			display: inline-block;
			font-size: 1.3em;
		}
		.person {
			display: inline-block;
			color: $red;
			font-size: 1.3em;
			padding: 0 10px;
		}
	}
	.topic_in_podcast {
		@extend .crowd_in_podcast;
		border-bottom: none;
		border-top: 2px solid $red;
		padding: 15px 0 0 0;
	}
}