body.page,
body.single,
body.archive,
body.blog {
	background: white;
	@media screen and (min-width: $screen-lg-min) {
		padding-top: 105px;
		&.home {
			padding-top: 65px;
		}
	}
}
div.content {
	padding-bottom: 20px;
	h1.page_title {
		padding-bottom: 10px;
	}
	h2.page_title { 
		border-bottom: 1px solid $red;
		color: $red;
		margin-top: 0;
		padding-bottom: 10px;
		@media screen and (max-width: $screen-md-min) {
			font-size: 1.5em;
			
		}
	}
	.post_meta,
	.post-meta {
		padding: 10px 0;
		font-size: 1.25em;
	}
	p,li {
		font-size: 1.25em;
		margin: 10px 0;
	}
	.crowd_in_podcast {
		border-bottom: 2px solid $red;
		border-left: none;
		border-right: none;
		margin: 10px 0;
		padding: 0 0 15px 0;
		strong {
			display: inline-block;
			font-size: 1.3em;
		}
		.person {
			display: inline-block;
			color: $red;
			font-size: 1.3em;
			padding: 0 10px;
		}
	}
	.topic_in_podcast {
		@extend .crowd_in_podcast;
		border-bottom: none;
		border-top: 2px solid $red;
		padding: 15px 0 0 0;
	}
	.addthis_toolbox {
		margin: 20px 0;
	}
	&.list {
		article {
			margin-bottom: 50px;
			padding: 20px;
			&:nth-child(even){
				background: rgba( 0,0,0,0.1 );
			}
		}
	}
}
body.home {
	div.content {
		h2.page_title {
			font-size: 1.75em;
		}
		&.list {
			article {
				min-height: 430px;
			}
		}
	}
}