.person_profile {
	img.profile_pic {
		border-radius: 50%;
		border: 2px solid $red;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			strong {
				display: block;
				font-size: 1.5em;
				width: 25%;
			}
			p {
				margin: 0 0 10px 0;
				strong {
					display: inline-block;
					font-size: inherit;
					width: auto;
				}
			}
			&.social {
				a {
					font-size: 1.5em;
				}
			}
		}
	}
}