.sidebar {
    section {
        border-top: 2px double #d7d7d7;
        padding: 10px 0;
        text-align: center;
        &:last-of-type {
            border-bottom: 2px double #d7d7d7;
        }
        h4.widgettitle {
            margin: 0 0 10px 0;
            font-size: 1.5em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: left;
                padding: 0 0 0 20px;
                a {
                    color: $gray-base;
                    display: block;
                    font-size: 1.25em;
                    padding: 5px 0;
                    &:hover {
                        color: $gray-lighter;
                        text-decoration: none;
                    }
                }
            }
        }

        // WP Crowd Latest
        .latest-widget {
            a {
                background: white;
                border: 1px solid #d7d7d7;
                border-radius: 5px;
                display: block;
                margin: 10px auto;
                padding: 10px;
                width: 90%;
            }
        }

        //Mailchimp
        .mailchimp-form {
            padding: 20px 0;
            p {
                color: $gray-light;
                font-size: 1.25em;
                strong {
                    color: black;
                }
            }
            form#mc-embedded-subscribe-form {
                margin: 0 auto;
                width: 75%;
                input[type="submit"].button {
                    background: $brand-warning;
                    display: block;
                    font-size: 1.5em;
                    height: auto;
                    margin: 20px auto;
                    padding: 5px 30px;
                    text-shadow: 1px 1px 3px rgba( 0,0,0,0.75 );
                }
            }
        }
    }
}